<div class="jumbotron sky">
	<div class="jumbotron-grayscale">
		<h1 translate="MAIN_HEADLINE"></h1>
		<p class="lead" translate="MAIN_GREETING"></p>

		<p ng-show="user.hasRight('branch')">
			<a class="btn btn-lg btn-success" ng-href="#/sales"
				translate="MAIN_UPLOAD_BUTTON"></a>
		</p>
	</div>
</div>

<div class="row marketing">
	<h4 translate="MAIN_FIRST_HEADLINE"></h4>
	<p translate="MAIN_FIRST_TEXT"></p>

	<h4 translate="MAIN_SECOND_HEADLINE"></h4>
	<p translate="MAIN_SECOND_TEXT"></p>

	<h4 translate="MAIN_THIRD_HEADLINE"></h4>
	<p translate="MAIN_THIRD_TEXT"></p>
</div>
