<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="userName">{{ 'TEMPLATE_USER' | translate }}: *</label>
            <input type="text" id="userName" class="form-control" ng-required="true"
                   ng-model="currentUser.username">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="password">{{ 'TEMPLATE_PASSWD' | translate }}: *</label>
            <input type="password" id="password" class="form-control"
                   ng-model="currentUser.password" ng-required="currentUser.userId == null">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="passwordConfirmation">
                {{ 'TEMPLATE_PASSWD_RE' | translate }}: *</label>
            <input type="password" id="passwordConfirmation"
                   class="form-control"
                   ng-model="currentUser.passwordConfirmation" ng-required="currentUser.userId == null">
        </div>
    </div>
</div>