//=== Shared nav styles
$nav-link-padding: 10px 10px !default;
$panel-heading-padding: 10px 10px !default;

.navbar-default .navbar-nav > li > a.active {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.container-fluid {
  .container {
    .table-responsive {
      width: 100%;
      border: 0;
      margin-left: 2px;

      // pagination
      .ng-table-pagination,
      .ng-table-counts {
        margin: 0px 0px 20px 0px;;
      }
    }
  }
}
